body {
  font-family: Verdana;
  text-align: center;
  background-color: black;
}

h1 {
  color: white
}

.top h1 {
  font-weight: normal;
  font-size: 50px;
}

.middle h1 {
  font-weight: 300;
  font-size: 42px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

#stuff {
  font-size: 21px;
  color: gray;
}

.end p {
  color: gray;
  text-align: right;
}
